.container{
    width: 100%;
    height: 100vh;
    color: #111111;
    display: flex;
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.container-left{
    width: 7%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    gap: 20px;
}

.container-left-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}

.bot-container{
    padding: 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: #0056B3;
    z-index: 50;
}

.container-right{
    width: 93%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    overflow: hidden;
}

.sub-container-right{
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-shrink: 0;
}

.map-container {
    flex: 1;
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-container{
    width: 40%;
    height: 60px;
    padding: 5px 60px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: text;
}

.input-container:focus-within{
    border: 2px solid blue;
    scale: 1.05;
}

.input-container input{
    border: none;
    outline: none;
    width: 100%;
}

.input-logo-container{
    display: flex;
    gap: 10px;
}

.hamburger-container{
    position: fixed;
    width: 25%;
    height: 100%;
    padding: 20px;
    font-family: var(--font-montserrat);
    background-color: #fff;
    transition: all 0.3s;
    z-index: 100;
    overflow-y: auto;
}

.open{
    top: 0;
    left: 0;
}
.close{
    top: 0;
    left: -100%;
} 