.container{
    width: 100%;
    height: 100vh;
    color: #111111;
    display: flex;
    background-color: #fff;
}

.container-left{
    width: 7%;
    height: 100%;
    padding: 0 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.bot-container{
    padding-top: 15px;
    border-top: 2px solid blue;
}

.container-right{
    width: 93%;
    height: 100%;
    padding-top: 1%;
    display: flex;
    justify-content: center;
    background-color: skyblue;
}
.sub-container-right{
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.input-container{
    width: 40%;
    height: 60px;
    padding: 5px 60px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: text;
}

.input-container:focus-within{
    border: 2px solid blue;
    scale: 1.05;
}

.input-container input{
    border: none;
    outline: none;
}

.input-logo-container{
    display: flex;
}

.hamburger-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    padding: 1% 2%;
    background-color: #fff;
}